.calculator {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border: red 2px solid;
}

.output {
    flex: 1
}
.buttons {
    flex: 4;
    display: flex;
    flex-direction: column;
    border: green 2px solid;
}
    
.row {
    display: flex;
    flex: 1 1 0;
    border: blue 2px solid;
}
button {
    flex: 1
}